@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --ff: "Red Hat Display", sans-serif;
  --fs: 16px;

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

img {
  max-width: 100%;
}

body {
  font-family: var(--ff);
  background-color: var(--pale-blue);
  text-align: center;
}

.bg-img {
  background: url("./images/pattern-background-mobile.svg") no-repeat
    center/cover;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px hsl(228, 45%, 44%, 0.15);
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: var(--fs);
}

.btn-change {
  background-color: transparent;
  color: var(--bright-blue);
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-size: var(--fs);
  color: var(--desaturated-blue);
  line-height: 1.6;
}

h1 {
  color: var(--dark-blue);
}

@media (min-width: 768px) {
  .bg-img {
    background: url("./images/pattern-background-desktop.svg") no-repeat
      center/cover;
    height: 50vh;
  }
}
