body {
  position: relative;
  min-height: 100vh;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
